@charset "UFT-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #1547EB, #0878D4 );
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0e0571b0;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    text-align: center;
    color: #1547EB;
    text-shadow: 1px 1px 2px #0e2d94b6;

}

h2{
    color: #0878D4;
}

p{
    text-align: justify;
}